
@{
    ViewBag.Title = "Resultados";
}
<h2>Resultados</h2>

<div class="container" align="center">
    <div class="row col-xs-8 col-sm-8 col-md-8 col-lg-8" align="center">
        <table class="table table-hover">
            <tr>
                <td>Jogos Disputados:</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Total de Pontos marcados na Temporada:</td>
                <td>85</td>
            </tr>
            <tr>
                <td>Media de Pontos por Jogo:</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Maior Pontuação em um Jogo:</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Menos Pontuação em um Jogo:</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Quantidade de vezes que bateu o próprio recorde:</td>
                <td>2</td>
            </tr>
        </table>
    </div>
</div>


